<input type="hidden" id="page" th:value="${page}">
<div id="products">
    <div class="row">
        <div class="col-md-4" style="padding:15px;" th:if="${!products.isEmpty()}" th:each="product: ${products}">
            <div style="display:inline-block; border:solid 1px #808080; padding:15px">
                <div>
                    <img class="img-responsive" alt="eCommerce Product List"
                         src="http://www.prepbootstrap.com/Content/images/template/productslider/product_001.jpg"/>
                    <br/>
                    <h2><a href="#" th:text="'Product Name: ' + ${product.name}"></a></h2>
                    <h2 class="pull-right" th:text="'Approved: '+${product.approved}"></h2>
                    <br/>
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                            th:data-target="'#description'+${product.id}">Description
                    </button>
                    <div th:id="'description'+${product.id}" class="collapse"
                         th:text="${product.description}"></div>
                </div>
                <br/>
                <div class="btn-ground text-center" style="padding-bottom: 30px">
                    <a th:if="${product.approved == 'no'}" class="btn btn-primary" role="button"
                       th:id="${product.getId()}"
                       onclick="update(this.id)">Approve</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function update(id) {
        page = document.getElementById("page").value;
        alert(page);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("products").innerHTML =
                    this.responseText;
            }
        };
        setTimeout(function () {
            xhttp.open("GET", "/backend/product-approve/" + id + "/" + page, true);
            xhttp.send();
        }, 500);
    }
</script>
