<h6 th:text="'Votes: '+${product.upVotes}"></h6>
<img width="30px" height="30px" src="src/img/upVote.png" alt="UpVote" th:id="${product.id}" onclick="upVote(this.id)">

<script>
    function upVote(id) {
        var xhttp = new XMLHttpRequest();
        var e = document.getElementById("ascDscSelection");
        var descAsc = e.options[e.selectedIndex].value;
        var els = document.getElementsByName("filter");
        var filter;
        for (var i=0;i<els.length;i++){
            if ( els[i].checked ) {
                filter = els[i].value;
                alert(filter);
            }
        }
        page = document.getElementById("page").value;
        search = document.getElementById("search").value;
        if (search == "") {
            search = "null";
        }
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("products").innerHTML =
                    this.responseText;
                var container = document.getElementById("votesCount");
                var content = container.getAttribute("name");
                if (content != 0) {
                    content = content - 1;
                    container.innerText = "Votes: " + content;
                    container.setAttribute("name", content);
                }
                else {
                    alert("No votes left");
                }
            }
        };
        setTimeout(function () {
            xhttp.open("POST", "/up-vote/" + id + "/" + page + "/" + search+ "/" + filter + "/" + descAsc, true);
            xhttp.send();
        }, 500);
    }
</script>
