<!-- Search form for product -->
<input type="hidden" id="url" th:value="${url}">
<div class="card">
    <div class="card-body">
        <form>
            <h3><span class="label label-primary">Search Product: <input type="text" id="search"
                                                                         onkeypress="loadSearch()"></span></h3>
        </form>
    </div>
</div>

<script>
    function loadSearch() {
        var xhttp = new XMLHttpRequest();
        url = document.getElementById("url").value;
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("products").innerHTML =
                    this.responseText;
            }
        };
        setTimeout(function () {
            xhttp.open("POST", url + document.getElementById("page").value + "/" + document.getElementById("search").value, true);
            xhttp.send();
        }, 500);
    }
</script>