<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 text-left">
            <div class="row" th:if="${!products.isEmpty()}" th:each="product: ${products}">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Approved</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" th:text="${product.id}">1</th>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.approved}"></td>
                                <td th:text="${product.description}"></td>
                                <td><img class="img-thumbnail" th:src="@{'/'+${product.image}}" th:alt="${product.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>