<a class="btn btn-info" href="/backend/product-approve/download" role="button">Download Approved Products CSV</a>
<div class="row">

    <div class="col-sm-4" th:if="${!products.isEmpty()}" th:each="product : ${products}">
        <div class="card">
            <div class="card-header">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Date Submitted</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.dateSubmitted}"></td>
                        <td th:text="${product.user.username}"></td>
                    </tr>
                    <tr>
                        <td th:if="${product.userApproved == true}" class="table-success"
                            th:text="'Accepted By user: '+${product.userApproved}"></td>
                        <td th:if="${product.userApproved == false}" class="table-danger"
                            th:text="'Accepted By user: '+${product.userApproved}"></td>

                        <td th:if="${product.approved.equals('yes')}" class="table-success"
                            th:text="'Approved By admin: '+${product.approved}"></td>
                        <td th:if="${(product.approved == 'no') || (product.approved == 'disapproved')}"
                            class="table-danger"
                            th:text="'Approved By admin: '+${product.approved}"></td>
                        <td>
                            <a th:if="${product.approved == 'no'}" class="btn btn-success" role="button"
                               th:id="${product.getId()}" onclick="approve(this.id)">Approve</a>
                            <a th:if="${product.approved != 'disapproved'}" class="btn btn-warning" role="button"
                               th:id="${product.getId()}" onclick="disapprove(this.id)">Disapprove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <img th:src="@{'/'+${product.getImage()}}" class="img-responsive" style="width:100%" alt="Image">

                <div class="row">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-info" data-toggle="collapse"
                                        th:data-target="'#description'+${product.id}">Description
                                </button>
                            </th>
                            <th th:insert="all-fragments/product/fragment-product-offers.html"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div th:id="'description'+${product.id}" class="collapse"
                     th:text="${product.description}"></div>
            </div>
        </div>
    </div>
</div>
