<!-- New product idea form -->
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-sm-6 mb-6">
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Submit new Product</div>
                    <div class="card-body">
                        <div th:if="${error != null}">
                            <div class="alert alert-warning" th:text="${error}">
                            </div>
                        </div>
                        <div th:if="${msg != null}">
                            <div class="alert alert-success" th:text="${msg}">
                            </div>
                        </div>
                        <form th:object="${product}" method="POST" enctype="multipart/form-data">
                            <!--Product main details-->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label for="name">Product Name</label>
                                            <input type="text" id="name" name="name" class="form-control"
                                                   placeholder="Product Name" required="required"
                                                   th:value="${name}">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" rows="5" id="description" name="description"
                                                      placeholder="Description" required="required"
                                                      th:value="${description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--Product pricing-->
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label for="sourcePrice">Source Price</label>
                                            <input type="number" id="sourcePrice" name="sourcePrice"
                                                   class="form-control" th:value="${sourcePrice}"
                                                   placeholder="Source Price" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label for="marketPrice">Market Price</label>
                                            <input type="number" id="marketPrice" name="marketPrice"
                                                   class="form-control" th:value="${marketPrice}"
                                                   placeholder="Market Price" required="required">
                                        </div>
                                    </div>
                                </div>
                                <!--Product Image-->
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label for="imageFile">Image Upload</label>
                                            <input type="file" id="imageFile" name="imageFile" class="form-control"
                                                   placeholder="Image Upload" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Submit Product">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 mb-4">
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Tips</div>
                    <div class="card-body">
                        <h4>Submitting product cost 5 votes.</h4>
                        <p>You can get 10 votes by login in every 24 hours or 15 votes by getting you product approved by
                            sourcing team</p>
                        <p>
                            <bold>Product Name:</bold>
                            Unique name for you product.
                        </p>
                        <p>
                            <bold>Description:</bold>
                            Describe your product is a way that will make other user interested.
                        </p>
                        <p>
                            <bold>Source / Market Price:</bold>
                            If you satisfy our backend monkeys with with good price product will be accept quickly if
                            they like what they see.
                        </p>
                        <p>
                            <bold>Image:</bold>
                            Image is the most important part of this submission. If we like the image we will certainly
                            accept the product. Only PNG accepted at the moment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

