<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script type="text/javascript" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for all pages-->
<script type="text/javascript" th:src="@{/js/sb-admin.min.js}"></script>