<!DOCTYPE html>
<html lang="en">

  <head>
    <head th:insert="backend/fragments/fragment-head.html">
  </head>

  <body id="page-top">
  <div th:insert="backend/fragments/fragment-navbar.html"></div>

    <div id="wrapper">
      <div th:insert="backend/fragments/fragment-sidebar.html"></div>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <div th:insert="backend/fragments/fragment-breadcrumb.html"></div>

          <!-- Page Content -->
          <div th:insert="${directory}"></div>

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div th:insert="backend/fragments/fragment-sticky-footer.html"></div>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


  <div th:insert="backend/fragments/fragment-footer.html"></div>
  <div th:insert="backend/fragments/fragment-js.html"></div>
  </body>

</html>
