<!-- Permission form -->
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">
            <p>
                <label>Setting Permissions for:</label>
            </p>
            <p>
            <label th:text="'Username: ' + ${perm.user.username}"></label>
            </p>
            <p>
                <label th:text="'Email: ' + ${perm.user.email}"></label>
            </p>
        </div>
        <div class="card-body">
            <div th:insert="backend/fragments/forms/fragment-perm-form"></div>
        </div>
    </div>
</div>

