<form th:object="${user}" method="POST">
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="required"
                   autofocus="autofocus" th:field="*{username}">
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" class="form-control" placeholder="First name" required="required"
                           th:field="*{name}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-label-group">
                    <label for="surname">Last name</label>
                    <input type="text" id="surname" class="form-control" placeholder="Last name" required="required"
                           th:field="*{surname}">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                           required="required"
                           th:field="*{email}">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                           required="required" th:field="*{password}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-label-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password"
                           required="required" th:field="*{salt}">
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Register">
</form>