<!-- Page Content -->
<input type="hidden" id="page" th:value="${page}">
<input type="hidden" id="url" th:value="${url}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:insert="all-fragments/product/fragment-product-search.html"></div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="my-4 text-center text-lg-left">UpVoting Products</h1>
    <div id="products">
        <div th:insert="all-fragments/product/fragment-product-list-index.html"></div>
    </div>
</div>




